.furion-banner {
  padding: 4rem 2rem;
  align-items: center;
  /* background-color: #4623d9; */
  background: #4623d9 url("/img/csharp-certification.png");
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.furioin-index-gif {
  position: absolute;
  /* top: -20px;
  left: 280px; */
  top: 135px;
  left: 120px;
  height: 60px;
  z-index: 3;
}

.furion-banner-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.furion-banner-item {
  flex: 1;
  position: relative;
}

.furion-banner-project {
  font-size: 1.5em;
  font-weight: 700;
}

.furion-banner-description {
  margin: 24px 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(81deg, #8759ff, #3fc4fe, #42ffac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.furion-banner-spec {
  padding: 0;
  opacity: 0.7;
  font-family: Muli;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.33;
}

.furion-banner-spec li {
  list-style: none;
  position: relative;
  padding-left: 1em;
  margin-bottom: 1em;
}

.furion-banner-spec li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: rgb(135, 89, 255);
}

.furion-support-platform {
  font-size: 0.85em;
  line-height: 2;
  margin-top: 3em;
  font-weight: 500;
  opacity: 0.6;
  color: white;
  font-family: Muli;
}

.furion-support-icons {
  display: flex;
  margin-top: 12px;
}

.furion-support-icons span {
  margin-right: 20px;
}

.furion-get-start,
.furion-try-demo {
  margin-top: 4em;
  border-radius: 2em;
  min-width: 145px;
  color: #fff;
  background: #8759ff;
  position: relative;
  line-height: 1.5;
  text-align: center;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}

.furion-try-demo {
  background-color: rgb(199, 29, 36);
  margin-left: 20px;
}

.furion-get-start:hover {
  background: rgba(135, 89, 255, 0.9);
}

.furion-try-demo:hover {
  opacity: 0.9;
}

.furion-banner-item .system-window {
  width: 34rem;
}

.furion-get-start:hover,
.furion-try-demo:hover {
  color: #fff;
  text-decoration: none;
}

.system-top-bar {
  background-image: linear-gradient(
    to right,
    rgba(136, 89, 255, 0.2),
    rgba(63, 196, 254, 0.2) 90%,
    rgba(66, 255, 172, 0.2)
  );
  padding: 0.25em 1em;
}

.system-top-bar-circle {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.3em;
  border-radius: 50%;
  filter: brightness(100%);
}

.system-window {
  --ifm-leading: 0;
  width: 95%;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  background: rgb(33, 27, 80);
}

.system-window iframe {
  border-radius: unset;
}

.system-window pre {
  margin-bottom: 0 !important;
}

.blue-accent {
  --uni-border-color: #3fbbfe;
  --uni-box-shadow-color: rgba(63, 187, 254, 0.1);
  --ifm-menu-color-active: #3fbbfe;
}

.preview-border {
  box-shadow: 0 6px 58px 0 rgba(63, 187, 254, 0.1);
  border: solid 1px #3fbbfe;
}

.furion-content {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}

.furion-small-title {
  color: #4623d9;
  font-family: Muli;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.6;
}

.furion-small-title.dark {
  color: #f5f6f7;
}

.furion-big-title {
  color: #4623d9;
  font-family: Poppins;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.31;
  margin-bottom: 2em;
}

.furion-big-title.dark {
  color: #f5f6f7;
}

.furion-gitee-log {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.furion-log-item {
  width: 260px;
  height: 173px;
  box-sizing: border-box;
  margin-right: 65px;
  position: relative;
}

.furion-log-jiao {
  width: 100px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  top: -6px;
  right: -6px;
  border-top: 1px dashed #a795e8;
  border-right: 1px dashed #a795e8;
}

.furion-log-jiao.dark {
  background: rgb(27, 27, 29);
}

.furion-log-item:last-child {
  margin-right: 0;
}

.furion-log-number {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.furion-log-number div {
  font-size: 3em;
  font-weight: 700;
}

.furion-log-number span {
  font-family: Poppins, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #1c1e21;
}

.furion-log-number span.dark {
  color: #f5f6f7;
}

.furion-whouse {
  align-items: center;
  background-color: #4623d9 !important;
  color: #fff;
  display: flex;
  padding: 5rem 0;
  overflow: hidden;
}

.furion-who-custom {
  background-color: #fff;
  min-height: 500px;
  width: 60%;
  box-sizing: border-box;
  padding: 6rem;
  justify-content: center;
  color: #723cff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.furion-who-des-text {
  max-width: 350px;
}

.furion-donate-wrap {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
  margin-bottom: 20px;
}

.furion-custom-img {
  text-decoration: none;
  color: transparent;
  margin-left: 3em;
}

.furion-who-des {
  padding: 0 5rem;
  box-sizing: border-box;
}

.furion-who-des p {
  color: #fff;
  font-family: Muli;
  font-size: 1em;
  line-height: 1.75;
  margin-bottom: 0.8em;
  opacity: 0.8;
}

.furion-links.furion-fuchi-wrap {
  margin: 4em;
}

.furion-fuchi {
  flex-direction: row;
}

.furion-fuchi-content {
  padding: 0 5rem;
}

.footer {
  background-color: #4623d9 !important;
}

.furion-links {
  margin: 4em;
  text-align: center;
}

.furion-links-content a {
  display: inline-block;
  margin: 0 1em;
  font-size: 20px;
  font-weight: 600;
}

.furion-proccesson {
  margin: 4em 0;
  text-align: center;
}

#dotnet-china {
  height: 100px;
}

.furion-get-start-btn {
  position: relative;
  display: flex;
}

.furion-version {
  position: absolute;
  z-index: 10;
  right: 0;
  top: -10px;
  color: yellow;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .furion-banner-container {
    justify-content: unset;
    flex-direction: column;
  }

  .furion-get-start-btn {
    text-align: center;
  }

  #dotnet-china {
    height: 45px;
  }

  .furion-banner-item .system-window {
    width: 100%;
    margin-top: 3rem;
  }

  .furion-gitee-log {
    justify-content: center;
    flex-wrap: unset;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .furion-log-item {
    width: 100%;
    height: 173px;
    margin-right: 0;
    margin-top: 25px;
  }

  .furion-big-title {
    margin-bottom: 1em;
  }

  .furion-whouse {
    flex-direction: column;
    padding-bottom: 1em;
  }

  .furion-who-des {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .furion-custom-img {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .furion-custom-img img {
    max-width: unset;
  }

  .furion-who-custom {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 2rem;
  }

  .furion-links {
    margin: 4em 2em;
    text-align: center;
  }

  .furion-links.furion-fuchi-wrap {
    margin: 4em 2em 0 2em;
  }

  .furion-fuchi {
    flex-direction: column-reverse;
  }

  .furion-fuchi-content {
    padding: 0;
    margin-top: 3em;
  }

  .w-overlay-container:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .furion-who-des-text {
    padding: 2em 0;
    max-width: 100%;
  }
}

.furion-bifa {
  background: linear-gradient(rgba(33, 27, 80, 0.8), rgba(65, 42, 148, 0.8)),
    url(@site/static/img/bgs.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 100px 0;
  overflow-x: hidden;
}

.furion-wzi {
  border-left: 1px solid rgba(137, 147, 180, 0.5);
  writing-mode: vertical-lr;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  padding: 25px;
  height: 320px;
}

.furion-wzi span {
  color: rgb(68, 188, 254);
  font-weight: 500;
}

.furion-wzi-title {
  width: 84px;
  height: 320px;
  writing-mode: vertical-lr;
  background: rgb(68, 114, 196);
  background-image: linear-gradient(rgb(91, 128, 212) 1px, transparent 0),
    linear-gradient(90deg, rgb(91, 128, 212) 1px, transparent 0);
  background-size: 8px 8px;
  margin-left: 40px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 12px;
  display: flex;
  align-items: center;
}

.furion-wzi-title b {
  font-size: 20px;
  writing-mode: horizontal-tb;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
  letter-spacing: 2px;
}
