.navbar {
  background-color: #4623d9;
}

.navbar__brand {
  color: #fff;
}

.navbar__link {
  color: #fff;
}

.navbar__link:hover,
.navbar__link--active {
  color: yellow;
}

.navbar__items {
  color: #fff;
}

.menu__list-item .navbar__link--active,
.menu__list-item .navbar__link:hover {
  color: #743dff;
}

.footer__logo {
  background-color: #fff !important;
}

#announcementBar-2 {
  text-align: center;
  padding: 0.6em;
  background-color: #182c61;
  font-size: 14px;
  color: yellow;
  position: relative;
}