*.md linguist-language=C#
*.mdx linguist-language=C#
*.ps1 linguist-language=C#
*.yml linguist-language=C#
*.html linguist-language=C#
*.js linguist-language=C#
*.tsx linguist-language=C#
*.xml linguist-language=C#
*.css linguist-language=C#
