@{
    ViewData["Title"] = "Fur 是 .NET 5 平台下企业应用开发最佳实践框架";
}

<div style="text-align:center;margin-top:50px;">
    <img src="~/images/logo.png" style="height:100px;" />
    <div align="center">
        <p><a href="https://gitee.com/monksoul/Fur/stargazers"><img src="https://gitee.com/monksoul/Fur/badge/star.svg?theme=gvp" alt="star"></a> <a href="https://gitee.com/monksoul/Fur/members"><img src="https://gitee.com/monksoul/Fur/badge/fork.svg?theme=gvp" alt="fork"></a> <a href="https://github.com/MonkSoul/Fur/stargazers"><img src="https://img.shields.io/github/stars/MonkSoul/Fur?logo=github" alt="GitHub stars"></a> <a href="https://github.com/MonkSoul/Fur/network"><img src="https://img.shields.io/github/forks/MonkSoul/Fur?logo=github" alt="GitHub forks"></a> <a href="https://github.com/MonkSoul/Fur/blob/main/LICENSE"><img src="https://img.shields.io/github/license/MonkSoul/Fur" alt="GitHub license"></a> <a href="https://www.nuget.org/packages/Fur"><img src="https://img.shields.io/badge/Nuget-1.0.0--rc.final-blue" alt="nuget"></a></p>
    </div>
    <p>Fur 是 .NET 5 平台下企业应用开发最佳实践框架。</p>
    <p><a href="/api">Api 接口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitee.com/monksoul/Fur" target="_blank">源码地址</a></p>
</div>