@{
    ViewData["Title"] = "Fur 是 .NET 5 平台下极易入门、极速开发的 Web 应用框架";
}

<div style="text-align:center;">
    <img src="~/images/logo.png" style="height:100px;" />
    <p>Fur 是 .NET 5 平台下极易入门、极速开发的 Web 应用框架。</p>
    <p><a href="/api">查看API接口</a></p>
</div>