.ass {
  display: block;
  user-select: none;
  margin: 0.5em 0.5em 0 0.5em;
  box-sizing: border-box;
  padding: 10px;
  /* height: 80px; */
  border-radius: 5px;
  background-color: #4623d9;
  position: relative;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;

  animation: progress-bar-stripes 2s linear infinite;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.15) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.15) 0,
    hsla(0, 0%, 100%, 0.15) 75%,
    transparent 0,
    transparent
  );
  background-size: 12px 12px;
  text-decoration: none;
}

.ass:hover {
  text-decoration: none;
  background-color: #0958d9;
}

.title {
  font-size: 16;
  text-align: center;
  margin-bottom: 5px;
  color: #e6f4ff;
}

.number {
  font-size: 12px;
  color: #48576a;
  color: #e6f4ff;
  opacity: 0.8;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.percent {
  flex: 1;
  height: 6px;
  background-color: #e5e9f2;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 0 5px;
}

.current {
  height: 6px;
  background-color: #1677ff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24px 0;
  }
}
