.furion-give-me-star {
  text-align: center;
  padding: 0.6em;
  background-color: #182c61;
  font-size: 14px;
  color: yellow;
  position: relative;
}

.furion-gitee-star {
  position: relative;
  vertical-align: middle;
  margin-left: 7px;
}
