.furion-join-group {
  position: fixed;
  /* right: 15px; */
  bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px #211b50;
  overflow: hidden;
  border-radius: 5px;
  left: 50%;
  z-index: 1000;
  width: 290px;
  margin-left: -145px;
}

.furion-join-group img {
  display: block;
  height: 18em;
  margin: 1em auto 0 auto;
}

.furion-join-group a {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  width: 100%;
  color: #fff;
  background: #8759ff;
  line-height: 1.5;
  padding: 0.5em 0;
  min-width: 15em;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.furion-join-group button:hover {
  background: rgba(135, 89, 255, 0.9);
}

@media screen and (max-width: 1024px) {
  .furion-join-group {
    display: none;
  }
}
