.container {
    position: fixed;
    flex-direction: column;
    bottom: 5px;
    z-index: 100;
    border-radius: 3px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    font-size: 14px;
    overflow: hidden;
    line-height: 24px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
}

.title {
    padding: 5px 12px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 148, 0);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.title span {
    flex: 1;
    text-align: center;
    margin-left: -20px;
}

.content {
    padding: 12px 0px 0 0;
    background-color: rgb(230, 246, 230);
}

.img {
    margin: 3px 0 0 0;
    vertical-align: middle;
    position: relative;
    top: -4px;
}

.span {
    font-weight: bold;
    margin: 0 3px;
}

.lang {
    background: #0000000d;
    color: #000;
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 12px;
    margin: 8px 8px 0 0;
    box-shadow: 0 4px 8px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    cursor: pointer;
}

.lang:hover {
    background-color: rgb(252, 213, 63);
}

.icon {
    margin-right: 5px;
}

.toggle {
    position: absolute;
    right: 8px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
}

.toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(90deg);
}

.toggle svg {
    position: relative;
    left: 2px;
}