.label {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 4px 6px;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  line-height: normal;
  margin-left: -3px;
  vertical-align: middle;
  margin-right: 6px;
}

.icon {
  margin-right: 4px;
}