.container {
  animation: scaleIn 0.8s forwards;
  transform-origin: center;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;
  background: rgb(70, 35, 217);
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.container u {
  text-decoration: none !important;
}

@keyframes scaleIn {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: auto;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
