@{
    ViewData["Title"] = "Home Page";
}

<div><a href="/A/Index" target="_blank">Razor Page</a></div>
<div>
    <a href="/api/Values" target="_blank">API</a>
</div>
<div><a href="/Abc/Home/Index" target="_blank">Areas/MVC/Home</a></div>
<div>
    Mvc/Home
</div>
<div>
    查询到数据条数：@(ViewBag.County)
</div>